
.formWrapper{
	border-radius: 23px;
	width: min-content;
	padding: 15px 30px 15px 30px;
	margin: 70px auto 0 auto;
	background-color: rgba(242, 247, 247, 0.849);
	width: 442px;
    height: max-content;
}

.form_navigate{
	display: flex;
	justify-content: space-between
}
.form_navigate_el{
	color: black;
	font-size: 26px;
}
.form_navigate_el_active{
	color: #39A8FFFF;
	font-size: 26px;
}

.elemForm.elemForm{
	border-radius: 6px;
	width: 100%;
	height: 50px;
}

.bLogin.bLogin{
	margin-top: 15px;
	border: none;
	border-radius: 4px;
	padding: 4px 30px;
	font-weight: 500;
	background-color: #D4B751;
	display: block;
	margin-right: auto;
	margin-left: auto;
	color: black;
}

.line_navigate{
	width: 100%;
	border-bottom: 3px #DDC33D solid;
	margin-top: 15px;
	margin-bottom: 15px;
}

