body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Изменение стилей ant-design'а */
.ant-form-item-explain-error.ant-form-item-explain-error{	/* Сообщение об ошибке */
	color: red;
	font-size: 12px;
	margin-bottom: 2px;
	font-weight: 500;
}
.ant-form-item.ant-form-item{	/* инпут */
	margin-bottom: 5px;
}
